/vendor/ 
/node_modules/ 
/storage/logs/* 
/storage/cache/* 
/storage/uploads/* 
!storage/logs/.gitkeep 
!storage/cache/.gitkeep 
!storage/uploads/.gitkeep 
.env 
.phpunit.result.cache 
composer.lock 
